@import "tailwindcss";

:root {
  --background: #FFFDEE;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-600: var(--primary_600);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-display: var(--font-montserrat-alternates);
  --font-body: var(--font-instrument-sans);
  --font-primary: var(--font-montserrat);
  --font-secondary: var(--font-instrument);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --primary: #26612F;
    --primary_600: #0F3D2E;
    --secondary: #0A3323;
    --background: #FFFDEE;
    --accent: #F16F33;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #26612F;
    --primary_600: #0F3D2E;
    --secondary: #0A3323;
    --background: #FFFDEE;
    --accent: #F16F33;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
